/bootstrap/ssr
/node_modules

/public/build
/public/hot
/public/storage
/public/images

/public/grp.hot
/public/iris.hot
/public/retina.hot
/public/aiku-public.hot

/public/grp/assets/
/public/iris/assets/
/public/retina/assets/
/public/aiku-public/assets/

/public/grp/manifest.json
/public/iris/manifest.json
/public/retina/manifest.json
/public/aiku-public/manifest.json

/storage/*.key
/vendor
.env
.env.backup
.env.testing
.env.cypress
.env.*
.vite
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/private/
lang/php_*.json
prod-diff.sh
/hash
load_aurora_db.sh
/initialise_aurora_migration.sh
/load_migration.sh
/load_my_snapshot.sh
/dump_aurora_db.sh
.phpstorm.meta.php
_ide_helper.php
/codecov
/upload_coverage.sh
/private
/clover.xml
/.npmrc
/storage/app/media
/storage/media-library/*
aurora_migration_base.sh
aurora_migration_base_tmp.sh
aurora_migration_crm.sh
/backup_load.sh
push.sh
/devops/paso_au/
/config/flare.php
/config/ignition.php
/database/seeders/datasets/currency-exchange/currency_exchanges.dump
/restart_elasticsearch.sh
/create_wowsbar_organisations.sh
