/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.env.cypress
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/private/
lang/php_*.json
/storage/tenants
tt
deploy.sh
staging-deploy.sh
prod-diff.sh
/public/tenants/
/hash
export_*.sh
import_*.sh
/create_aurora_tenants.sh
/import_aurora_db.sh
