@import url("transition.css");
@import url("fonts.css");
@import url("@vueform/multiselect/themes/default.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* .primaryLink {
        @apply bg-gradient-to-t from-yellow-300 to-yellow-200
        focus:ring-0 focus:outline-none focus:border-none
        bg-no-repeat [background-position:0%_100%]
        [background-size:100%_0.2em]
        motion-safe:transition-all motion-safe:duration-200
        hover:[background-size:100%_100%]
        focus:[background-size:100%_100%] px-1;
    }

    .secondaryLink {
        @apply bg-gradient-to-t from-gray-300 to-gray-200
        focus:ring-0 focus:outline-none focus:border-none
        bg-no-repeat [background-position:0%_100%]
        [background-size:100%_0.2em]
        motion-safe:transition-all motion-safe:duration-200
        hover:[background-size:100%_100%]
        focus:[background-size:100%_100%] px-1;
    }

    .specialBox {
        @apply bg-gradient-to-t from-indigo-600 to-indigo-400
        border-indigo-300 border-2 rounded-md
        text-indigo-500 hover:text-white
        cursor-pointer
        focus:ring-0 focus:outline-none focus:border-none
        bg-no-repeat [background-position:0%_100%]
        [background-size:100%_0em]
        motion-safe:transition-all motion-safe:duration-100
        hover:[background-size:100%_100%]
        focus:[background-size:100%_100%] px-1;
    } */
    
    .qwezxc {
        /* For debug element */
        @apply border border-red-500
    }

    .zxcqwe {
        /* For debug element */
        @apply border border-green-500
    }

    .asdzxc {
        /* For debug element */
        @apply ring-2 ring-offset-2 ring-red-500
    }
}

/* .prose a { @apply primaryLink } */





* {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-indigo-500
}

.skeleton {
    @apply relative before:absolute before:inset-0 before:-translate-x-full before:animate-skeleton before:bg-gradient-to-r before:from-transparent before:via-gray-200/60 before:to-transparent isolate overflow-hidden shadow-xl shadow-black/5 before:border-y before:border-white/30 bg-gray-300
}

.shimmer {
    @apply relative before:absolute before:inset-0 before:-translate-x-full before:animate-shimmer before:bg-gradient-to-r before:from-transparent before:via-white/60 before:to-transparent isolate overflow-hidden shadow-xl shadow-black/5 before:border-y before:border-white/30
}

.errorShake {
    @apply animate-error_shake ring-2 ring-red-500
}


/* For Notification */
.custom-style-notification {
    @apply mt-2 bg-white rounded-md mr-3;

    .notification-title {
        @apply font-bold
    }

    .notification-content {
        @apply text-sm
    }

    &.success {
        @apply bg-lime-50 border-l-8 border border-lime-300 text-lime-600
    }
    &.warning {
        @apply bg-yellow-50 border-l-8 border border-yellow-400  text-amber-600
    }
    &.info {
        @apply bg-gray-100 border-l-8 border border-slate-500  text-slate-500
    }
    &.error {
        @apply bg-red-400 border-l-8 border border-red-600 text-white
    }
}

/* For Multiselect */
.multiselect-option.is-selected,
.multiselect-option.is-selected.is-pointed {
	@apply bg-gray-500 text-white;
}

.multiselect-option.is-selected.is-disabled {
	@apply bg-gray-200 text-white;
}

.multiselect.is-active {
	border: var(--ms-border-width-active, var(--ms-border-width, 1px)) solid
		var(--ms-border-color-active, var(--ms-border-color, #787878)) !important;
	box-shadow: 0 0 0 var(--ms-ring-width, 3px) var(--ms-ring-color, rgba(42, 42, 42, 0.188)) !important;
	/* box-shadow: 4px 0 0 0 calc(4px + 4px) rgba(42, 42, 42, 1); */
}

.multiselect-dropdown {
    max-height: 250px !important;
}
.multiselect-tags-search {
    @apply focus:outline-none focus:ring-0
}

.multiselect-tags {
    @apply m-0.5
}

.multiselect-tag-remove-icon {
    @apply text-lime-800
}
