@import url("transition.css");
@import url("fonts.css");
@import url("@vueform/multiselect/themes/default.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* .primaryLink {
        @apply bg-gradient-to-t from-yellow-300 to-yellow-200
        focus:ring-0 focus:outline-none focus:border-none
        bg-no-repeat [background-position:0%_100%]
        [background-size:100%_0.2em]
        motion-safe:transition-all motion-safe:duration-200
        hover:[background-size:100%_100%]
        focus:[background-size:100%_100%] px-1;
    }

    .secondaryLink {
        @apply bg-gradient-to-t from-gray-300 to-gray-200
        focus:ring-0 focus:outline-none focus:border-none
        bg-no-repeat [background-position:0%_100%]
        [background-size:100%_0.2em]
        motion-safe:transition-all motion-safe:duration-200
        hover:[background-size:100%_100%]
        focus:[background-size:100%_100%] px-1;
    }

    .specialBox {
        @apply bg-gradient-to-t from-indigo-600 to-indigo-400
        border-indigo-300 border-2 rounded-md
        text-indigo-500 hover:text-white
        cursor-pointer
        focus:ring-0 focus:outline-none focus:border-none
        bg-no-repeat [background-position:0%_100%]
        [background-size:100%_0em]
        motion-safe:transition-all motion-safe:duration-100
        hover:[background-size:100%_100%]
        focus:[background-size:100%_100%] px-1;
    } */
    
    .qwezxc {
        /* For debug element */
        @apply border border-red-500
    }

    .zxcqwe {
        /* For debug element */
        @apply border border-green-500
    }

    .asdzxc {
        /* For debug element */
        @apply ring-2 ring-offset-2 ring-red-500
    }
}

/* .prose a { @apply primaryLink } */





* {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-indigo-500
}

.skeleton {
    @apply relative before:absolute before:inset-0 before:-translate-x-full before:animate-skeleton before:bg-gradient-to-r before:from-transparent before:via-gray-200/60 before:to-transparent isolate overflow-hidden shadow-xl shadow-black/5 before:border-y before:border-white/30 bg-gray-300
}

.shimmer {
    @apply relative before:absolute before:inset-0 before:-translate-x-full before:animate-shimmer before:bg-gradient-to-r before:from-transparent before:via-white/60 before:to-transparent isolate overflow-hidden shadow-xl shadow-black/5 before:border-y before:border-white/30
}

.errorShake {
    @apply animate-error_shake ring-2 ring-red-500
}


/* For Notification */
.custom-style-notification {
    @apply mt-2 bg-white rounded-md mr-3;

    .notification-title {
        @apply font-bold
    }

    .notification-content {
        @apply text-sm
    }

    &.success {
        @apply bg-lime-50 border-l-8 border border-lime-300 text-lime-600
    }
    &.warning {
        @apply bg-yellow-50 border-l-8 border border-yellow-400  text-amber-600
    }
    &.info {
        @apply bg-gray-100 border-l-8 border border-slate-500  text-slate-500
    }
    &.error {
        @apply bg-red-400 border-l-8 border border-red-600 text-white
    }
}



p span.country {
    font-weight: 600
}